USE [master]
GO
/****** Object:  Database [CargoTrackerDb]    Script Date: 11/09/2020 12:03:32 AM ******/
CREATE DATABASE [CargoTrackerDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CargoTrackerDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CargoTrackerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CargoTrackerDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CargoTrackerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CargoTrackerDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CargoTrackerDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/09/2020 12:03:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminLogins]    Script Date: 11/09/2020 12:03:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogins](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[ConfirmPassword] [nvarchar](max) NULL,
	[DataRegistered] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AdminLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientRegistrations]    Script Date: 11/09/2020 12:03:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientRegistrations](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[ShippersFirstName] [nvarchar](max) NOT NULL,
	[ShippersLastName] [nvarchar](max) NOT NULL,
	[ShippersPhone] [nvarchar](max) NOT NULL,
	[ShippersCountryName] [nvarchar](max) NOT NULL,
	[ReceiversFirstName] [nvarchar](max) NOT NULL,
	[ReceiversLastName] [nvarchar](max) NOT NULL,
	[ReceiversPhone] [nvarchar](max) NOT NULL,
	[ReceiversEmail] [nvarchar](max) NOT NULL,
	[ReceiversCountryName] [nvarchar](max) NOT NULL,
	[TrackingId] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[weight] [nvarchar](max) NOT NULL,
	[Invoice] [nvarchar](max) NOT NULL,
	[BookingMode] [nvarchar](max) NOT NULL,
	[TotalFreight] [nvarchar](max) NOT NULL,
	[DeliveryMode] [nvarchar](max) NOT NULL,
	[PickupDate] [nvarchar](max) NOT NULL,
	[PickTime] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[ReceiversAddress] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ClientRegistrations] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrackContactUs]    Script Date: 11/09/2020 12:03:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackContactUs](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.TrackContactUs] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrackInfoUpdates]    Script Date: 11/09/2020 12:03:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackInfoUpdates](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[TrackingId] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.TrackInfoUpdates] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminLogins] ON 

INSERT [dbo].[AdminLogins] ([UserId], [FirstName], [LastName], [State], [Address], [Phone], [Email], [Username], [Password], [ConfirmPassword], [DataRegistered]) VALUES (1, N'Okechukwu', N'Dominic', N'Lagos', N'11, cardoso street, awodi-ora apapa, lagos', N'09071663584', N'domebingonye@gmail.com', N'Admin', N'123', N'123', CAST(N'2020-08-27T18:15:10.963' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdminLogins] OFF
GO
SET IDENTITY_INSERT [dbo].[ClientRegistrations] ON 

SET IDENTITY_INSERT [dbo].[ClientRegistrations] OFF
GO
SET IDENTITY_INSERT [dbo].[TrackContactUs] ON 

INSERT [dbo].[TrackContactUs] ([UserId], [FullName], [Email], [Subject], [Message], [CreatedOn]) VALUES (1, N'Ebingonye Dominic Okechukwu', N'domebingonye@gmail.com', N'Tracking Id is not working', N'Good Day,

I am Having issue with accessing the details of my shipment when ever i tried using my tracker Id.

i need this to be resolve as quick as possible

the tracker Id is DE2345613', CAST(N'2020-08-27T11:18:14.310' AS DateTime))
INSERT [dbo].[TrackContactUs] ([UserId], [FullName], [Email], [Subject], [Message], [CreatedOn]) VALUES (2, N'Uchechi Johnson Abosi', N'ucheabosi@gmail.com', N'Perfect Service', N'Good day,

just want to appreciate your team for the save arrival of my good.

i received it in a good condition.

Thanks and God bless you all', CAST(N'2020-08-27T11:24:24.140' AS DateTime))
INSERT [dbo].[TrackContactUs] ([UserId], [FullName], [Email], [Subject], [Message], [CreatedOn]) VALUES (3, N'Hope Agwu', N'hopeslimmy@gmail.com', N'Appreciation', N'Thanks so much for everything. Your service is the best logistic service i have ever encounter.
God bless you all.', CAST(N'2020-08-27T16:59:34.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[TrackContactUs] OFF
GO
SET IDENTITY_INSERT [dbo].[TrackInfoUpdates] ON 

INSERT [dbo].[TrackInfoUpdates] ([UserId], [TrackingId], [CreatedOn], [Status], [Location]) VALUES (4, N'DEL983929', CAST(N'2020-09-02T09:42:58.457' AS DateTime), N'Departed', N'Ogun')
INSERT [dbo].[TrackInfoUpdates] ([UserId], [TrackingId], [CreatedOn], [Status], [Location]) VALUES (5, N'DEL040440', CAST(N'2020-09-02T10:51:31.497' AS DateTime), N'Good Condition', N'Ogun')
SET IDENTITY_INSERT [dbo].[TrackInfoUpdates] OFF
GO
USE [master]
GO
